puzzles/
stockfish/
**/.DS_Store
node_modules/
stockfish/node_modules/
dist/
.venv/

.env
.env.*
*.log
playwright-report/
coverage/

*.parquet
src/data/openings/chess open.parquet
puzzles/*.parquet
dist/
